@import url('../../../settings/config.less');

.Charge {
  @apply w-full bg-backgroundColor py-5;

  .image {
    padding-bottom: 767 / 1735 * 100%;
    background-image: url('img/charge/image.jpg');
    @apply w-full bg-cover bg-center bg-no-repeat;
  }

  .content {
    @apply flex w-full flex-col items-center justify-center py-5;

    h1 {
      @apply whitespace-nowrap text-center font-mxThin text-4xl tracking-widest;

      @media only screen and (max-width: @Mobile) {
        @apply t-4xl;
      }
    }

    .ctx {
      max-width: 1050px;

      @apply flex w-full flex-col items-center justify-center px-1 pt-10 md:flex-row md:items-start md:px-10  lg:px-20;
      @apply space-x-0 space-y-20 md:space-x-10 md:space-y-0 lg:space-x-20;

      .item {
        @apply w-10/12 sm:w-7/12 md:w-1/3;

        .ico {
          padding-bottom: 362.4 / 333.3 * 100%;
          background-size: 100% 100%;
          @apply relative w-full bg-center bg-no-repeat;

          & > div {
            @apply absolute bottom-0 left-0 right-0 top-0 flex flex-col items-center justify-start;

            h2 {
              margin-top: 60%;
              font-size: 0.35 * @Ratio;
              @apply w-full text-center font-mxBook text-primary;
            }

            p {
              margin-top: 5%;
              font-size: 0.25 * @Ratio;
              @apply flex w-full flex-col items-center justify-start text-justify;
            }
          }
        }

        & > div > button {
          @apply mt-3 flex w-full flex-row items-center justify-center bg-black py-1 font-gillRegular text-xs text-white hover:bg-primary md:py-2 md:text-sm;
          @apply border-none;

          @media only screen and (max-width: @SM) {
            & {
              font-size: 1.1 * @Ratio;

              @apply py-3;
            }
          }

          @media only screen and (max-width: @Mobile) {
            & {
              @apply py-2;
            }
          }

          & > svg {
            transform: scale(1, 1);
            @media only screen and (max-width: @SM) {
              & {
                transform: scale(1, -1);
              }
            }
          }

          .on {
            transform: scale(1, -1);
            @media only screen and (max-width: @SM) {
              & {
                transform: scale(1, 1);
              }
            }
          }
        }

        .i0 {
          background-image: url('img/charge/ico-0.svg');
        }

        .i1 {
          background-image: url('img/charge/ico-1.svg');
        }

        .i2 {
          background-image: url('img/charge/ico-2.svg');
        }
      }

      .dialog {
        min-height: 220px;
        @apply absolute bottom-full left-0 flex h-fit flex-col items-center justify-between bg-quaternary md:top-full;

        @media only screen and (max-width: @MD) {
          & {
            min-height: 200px;
          }
        }

        @media only screen and (max-width: @SM) {
          & {
            min-height: initial;
          }
        }

        & > div {
          & > button {
            @apply border-none py-3 md:py-0;

            & > svg {
              @apply h-8 w-8 md:h-6 md:w-6;
            }
          }

          & > h3 {
            @apply w-full whitespace-nowrap border-b border-white py-2 text-center font-mxBook text-xs lg:text-sm;

            @media only screen and (max-width: @SM) {
              & {
                font-size: 0.95 * @Ratio;
                line-height: 1.3 * @Ratio;
              }
            }

            @media only screen and (max-width: @XS) {
              & {
                font-size: 1.3 * @Ratio;
                line-height: 1.4 * @Ratio;
              }
            }

            @media only screen and (max-width: @Mobile) {
              & {
                font-size: 1.2 * @Ratio;
                line-height: 1.4 * @Ratio;
              }
            }
          }

          & > p {
            @apply w-full p-3 text-justify font-mxThin text-xs lg:text-sm;

            span {
              @apply font-gillLight;
            }

            @media only screen and (max-width: @SM) {
              & {
                font-size: 0.95 * @Ratio;
                line-height: 1.2 * @Ratio;
                @apply p-5;
              }
            }

            @media only screen and (max-width: @Mobile) {
              & {
                font-size: 1.1 * @Ratio;
                line-height: 1.4 * @Ratio;
              }
            }
          }
        }
      }
    }
  }
}
