@import url('../../../settings/config.less');

.Landing {
  @apply relative w-full overflow-hidden;

  .bg {
    padding-bottom: 1021 / 1843 * 100%;
    background-image: url('img/landing/cover.jpg');
    @apply w-full bg-cover bg-center bg-no-repeat;
  }

  .mg4 {
    bottom: 51%;
    margin-left: -33.703331% + 5%;
    width: 58.0557707203718%;
    @apply absolute left-1/2 mix-blend-color-dodge;

    @media only screen and (max-width: @SM) {
      & {
        bottom: 47%;
        margin-left: @w / -2 + 1%;
        width: @w;

        @w: 69%;
      }
    }

    .svg {
      padding-bottom: 191 / 1438.7 * 100%;
      background-image: url('img/landing/MG4.svg');
      @apply bg-cover bg-center bg-no-repeat;
    }
  }

  .car {
    bottom: 10%;
    margin-left: 75.40666150271108% / -2 + 5%;
    width: 75.40666150271108%;
    @apply absolute left-1/2;

    @media only screen and (max-width: @SM) {
      & {
        bottom: -2%;
        margin-left: @w / -2 + 7%;
        width: @w;

        @w: 88%;
      }
    }

    .png {
      padding-bottom: 698/2000 * 100%;
      background-image: url('img/landing/car.png');
      @apply bg-cover bg-center bg-no-repeat;
    }
  }

  .headline {
    bottom: 69%;
    font-size: 1 * @Ratio;
    @apply absolute w-full text-center;

    @media only screen and (max-width: @SM) {
      & {
        bottom: 64%;
        font-size: 1.3 * @Ratio;
      }
    }

    h1 {
      @apply flex flex-row items-baseline justify-center space-x-3 font-mxMedium text-primary sm:space-x-5;

      span {
        @apply font-gillSemiBold;
      }
    }
  }
}
