@import url('../../../settings/config.less');

.Cover {
  background-image: url('img/movement/bg.jpg');
  background-position: center calc(~'50% + 80px');
  background-size: 100%;

  @apply w-full bg-no-repeat py-10;

  @media only screen and (max-width: @SM) {
    & {
      background-position: center calc(~'50% - 200px');
    }
  }

  .content {
    @apply flex w-full flex-col-reverse sm:px-5 md:flex-row;

    .left {
      @apply w-full md:w-1/2;

      & > h1 {
        @apply text-center font-mxThin text-4xl leading-normal;

        @media only screen and (max-width: @SM) {
          font-size: 1.5 * @Ratio;
        }
      }

      & > p {
        @apply my-5 text-center font-mxLight text-base;

        @media only screen and (max-width: @SM) {
          font-size: 0.65 * @Ratio;
        }
      }

      & > .group {
        @apply mt-20 flex w-full flex-row items-center justify-center space-x-2 space-y-0 md:flex-col md:space-x-0 md:space-y-10;

        .row {
          @apply flex h-full flex-row items-center justify-center md:w-full;

          .ico {
            background-image: url('img/movement/calc.svg');
            @apply m-1 h-7 w-7 bg-contain bg-center bg-no-repeat;

            @media only screen and (max-width: @SM) {
              & {
                width: 6vw;
                height: 6vw;
              }
            }
          }

          .input {
            @apply flex h-8 w-3/6 border-b border-black;

            @media only screen and (max-width: @SM) {
              & {
                width: 38vw;
              }
            }

            input {
              @apply h-full w-full bg-transparent text-center text-sm outline-none;

              @media only screen and (max-width: @SM) {
                & {
                  font-size: 0.65 * @Ratio;
                }
              }

              @media only screen and (max-width: @Mobile) {
                & {
                  font-size: 0.8 * @Ratio;
                }
              }
            }
          }

          .btn-calc {
            @apply flex flex-row items-center border border-black bg-black px-5 py-2 text-base text-white;

            &::after {
              background-image: url('img/movement/ico.svg');
              content: '';
              @apply mb-1 inline-block h-6 w-7 bg-contain bg-center bg-no-repeat;

              @media only screen and (max-width: @SM) {
                & {
                  width: 6vw * 0.5;
                  height: 7vw * 0.5;
                }
              }
            }

            &:hover {
              @apply bg-primary;
            }

            @media only screen and (max-width: @SM) {
              & {
                padding: 0.8vw 2vw;
                font-size: 0.5 * @Ratio;
              }
            }
          }

          .btn-reCalc {
            @apply ml-2 flex flex-row items-center border border-black bg-transparent px-6 py-2 text-base text-black lg:hidden;

            @media only screen and (max-width: @SM) {
              & {
                padding: 0.8vw 2vw;
                font-size: 0.5 * @Ratio;
              }
            }

            &::after {
              content: '';
              @apply mb-1 inline-block h-6 w-0 bg-contain bg-center bg-no-repeat;

              @media only screen and (max-width: @SM) {
                & {
                  height: 7vw * 0.5;
                }
              }
            }

            &:hover {
              @apply bg-primary;
            }
          }
        }
      }
    }

    .right {
      transform: translateY(13%) translateX(-14%);
      @apply flex w-full items-center justify-center md:w-1/2;

      @media only screen and (max-width: @SM) {
        & {
          transform: translateY(0%) translateX(0%);
        }
      }

      .image {
        padding-bottom: 410 / 883 * 100%;
        background-image: url('img/movement/car.png');
        @apply w-full bg-cover;
      }
    }
  }
}
