.Form {
  background-image: url('./img/form.svg');
  background-position: center;
  background-repeat: no-repeat;

  @apply relative w-full;
}

.Desktop {
  .Form {
    background-image: url('./img/form.svg');
    background-size: auto 70%;
    @apply h-52;
  }
}

.Mobile {
  .Form {
    height: 260px;
    background-image: url('./img/form-m.svg');
    background-size: auto 65%;

    @media only screen and (max-width: 360px) {
      & {
        background-size: auto 60%;
      }
    }
  }
}
