@import url('../../../settings/config.less');

.Form {
  // background-image: url('img/movement/form.svg');
  // background-size: auto 70%;
  padding: min(5%, 40px) 0;
  @apply relative w-full;

  @media only screen and (max-width: @Mobile) {
    & {
      @apply px-5;
    }
  }

  .image {
    padding-bottom: 344.9 / 1354.6 * 100%;
    width: 100%;
    background-image: url('img/movement/form.svg');
    background-size: 100%;
    @apply bg-center bg-no-repeat;

    @media only screen and (max-width: @SM) {
      & {
        padding-bottom: 1053.4 / 915 * 100%;
        background-image: url('img/movement/form-m.svg');
      }
    }
  }
}
