@import url('../../../settings/config.less');

.Movement {
  background-color: #dbe0e6;
  @apply relative flex w-full flex-col items-center justify-start;

  & > div {
    @apply relative;
  }

  &::before {
    background-image: url('img/movement/bg.png');
    background-position: center calc(~'100% + 380px');
    background-size: 100% 100%;
    content: '';
    @apply absolute bottom-0 h-full w-full bg-no-repeat;

    @media only screen and (max-width: @Mobile) {
      & {
        background-position: center calc(~'100% + 100px');
      }
    }
  }
}
