@import url('../../../settings/config.less');

.Year {
  @apply relative flex w-full flex-col overflow-hidden py-10;

  .bg {
    background-image: url('img/year/bg-g.png');
    content: '';

    @apply absolute bottom-0 h-full w-full bg-cover bg-center bg-no-repeat;
  }

  &::before {
    background-image: url('img/year/bg.jpg');
    content: '';
    @apply absolute top-0 h-dh w-full bg-cover bg-top bg-no-repeat;

    @media only screen and (max-width: @Mobile) {
      & {
        @apply h-mh;
      }
    }
  }

  .image {
    @apply relative w-full;

    .box {
      padding-bottom: (728 / 1736) * 100%;
      background-image: url('img/year/image.jpg');

      @apply w-full bg-gray-400 bg-cover bg-center;
    }
  }

  .content {
    @apply relative w-full text-center;

    @media only screen and (max-width: @Mobile) {
      & {
        @apply t-3xl my-3;
      }
    }

    h1 {
      letter-spacing: 0.2rem;

      @apply my-3 text-center font-mxThin  text-4xl font-thin;

      @media only screen and (max-width: @Mobile) {
        & {
          @apply t-2xl;
        }
      }
    }

    p {
      @apply whitespace-nowrap font-mxThin text-sm leading-relaxed;

      @media only screen and (max-width: @Mobile) {
        & {
          @apply t-sm;
        }
      }
    }
  }
}
