@import url('../../../settings/config.less');

.Safety {
  @apply relative w-full overflow-hidden bg-backgroundColor;

  .bg {
    padding-bottom: 0;
    height: 100vh;
    background-image: url('img/safety/bg.jpg');

    @apply relative w-full bg-cover bg-center bg-no-repeat;

    @media only screen and (max-width: @SM) {
      & {
        padding-bottom: 1423 / 1920 * 100%;
        height: initial;
        background-image: url('img/safety/bg-m.jpg');
        @apply mt-10;
      }
    }

    & > div {
      @apply absolute bottom-0 left-0 right-0 top-0;

      .car {
        top: 20px;
        height: calc(~'100% - 40px');
        @apply absolute left-0 w-full text-center;

        @media only screen and (max-width: @SM) {
          & {
            top: 0%;
            height: 100%;
          }
        }

        .img {
          background-image: url('img/safety/n-car.png');
          @apply relative inline-block h-full bg-cover bg-center bg-no-repeat;

          @media only screen and (max-width: @SM) {
            & {
              background-image: url('img/safety/n-car-m.png');
            }
          }

          & > img {
            z-index: -1;
            display: inline-block;
            visibility: hidden;
            width: auto;
            height: 100%;
            opacity: 0;
          }
        }
      }
    }

    .dot {
      z-index: 4;
      @apply absolute h-8 w-8 rounded-full border border-white p-1;

      @media only screen and (max-width: @SM) {
        & {
          @apply h-5 w-5;
        }
      }

      & > div {
        & > div {
          @apply w-5;
          @media only screen and (max-width: @SM) {
            & {
              @apply w-3;
            }
          }
        }
      }

      .on {
        @apply bg-primary;
      }

      .btn {
        @apply pointer-events-auto relative left-full z-10 -mt-4 flex h-8 w-fit items-center justify-center overflow-hidden rounded-l-full rounded-r-full border border-white px-5;

        @media only screen and (max-width: @SM) {
          & {
            margin-top: -1.25rem * 0.5;
            @apply h-7 px-3;
          }
        }
        @media only screen and (max-width: @Mobile) {
          & {
            margin-top: -1.25rem * 0.5;
            @apply h-5 px-2;
          }
        }

        & > div:nth-child(1) {
          @apply absolute h-full w-full bg-[#6f7989] opacity-80 bg-blend-multiply;
        }

        & > div:nth-child(2) {
          @apply relative w-full whitespace-nowrap text-sm text-white;

          @media only screen and (max-width: @SM) {
            & {
              @apply t-xxs;
            }
          }
        }

        &:hover {
          & > div:nth-child(1) {
            @apply bg-primary;
          }
        }
      }
    }

    .dialogContext {
      @apply absolute z-10 -mt-10 flex w-80 select-none flex-col items-start justify-start border p-2 text-left;

      @media only screen and (max-width: @Mobile) {
        @apply w-72;
      }

      & > div {
        @apply relative flex h-full w-full flex-col space-y-3 bg-white p-5;

        @media only screen and (max-width: @Mobile) {
          @apply space-y-1 p-3;
        }

        h1 {
          @apply border-l-2 border-primary pl-3 font-mxMedium text-2xl leading-6 text-primary;

          @media only screen and (max-width: @Mobile) {
            @apply t-base;
          }
        }

        h2 {
          @apply font-mxThin text-base;

          @media only screen and (max-width: @Mobile) {
            @apply t-xs;
          }
        }

        button {
          @apply pointer-events-auto absolute -top-2 right-1 flex h-5 w-5 items-center justify-center rounded-full bg-secondary text-white hover:bg-primary;

          @media only screen and (max-width: @Mobile) {
            & {
              @apply top-0;
            }
          }
        }
      }
    }
  }

  .headline {
    @apply absolute top-5 flex w-full flex-col items-center justify-center whitespace-nowrap pb-8 lg:top-12;

    @media only screen and (max-width: @Mobile) {
      @apply top-3;
    }

    h1 {
      @apply text-center font-mxThin text-4xl;

      span {
        @apply font-gillLight;
      }

      @media only screen and (max-width: @Mobile) {
        @apply t-3xl;
      }
    }
  }
}
