@import url('../../../settings/config.less');

.Flow {
  @apply w-full overflow-hidden py-10;

  h1 {
    @apply text-center font-mxThin text-4xl lg:text-left;

    @media only screen and (max-width: @Mobile) {
      @apply t-4xl;
    }
  }

  .content {
    @apply flex w-full flex-col space-y-5 md:flex-row md:space-y-0;

    .image {
      @apply w-full md:w-5/12;

      .img {
        padding-bottom: 216/387 * 100%;
        background-image: url('img/flow/img.jpg');
        @apply w-full bg-cover bg-center bg-no-repeat;
      }
    }

    .ctx {
      @apply flex flex-1 flex-col items-start justify-between space-y-1 md:pl-5 lg:space-y-3;

      & > p {
        @apply text-justify text-lg leading-relaxed md:text-base;

        @media only screen and (max-width: @Mobile) {
          @apply t-lg;
        }
      }
    }
  }

  .flow {
    max-width: 800px;
    @apply w-full font-mxLight;

    .img {
      padding-bottom: 88.4/989 * 100%;
      background-image: url('img/flow/flow.svg');
      @apply w-full bg-cover bg-center bg-no-repeat;
    }
  }
}
