.Life {
  height: 500px;
  @apply py-10;

  .headline {
    @apply flex w-full justify-center;
  }

  .carousel-headline {
    @apply flex flex-col items-start justify-center space-y-2;
  }

  .carousel-content {
    @apply flex flex-col items-start justify-center font-mxLight text-base;
  }

  .v0 {
    background-image: url('./img/v0.jpg');
    background-position: center;
    background-size: cover;
  }
}

.Desktop {
  .Life {
  }
}

.Mobile {
  .Life {
  }
}
