@import url('../../../settings/config.less');

.Slide {
  @apply w-full lg:px-5;

  .slick {
    @apply flex w-full flex-col items-center justify-items-center p-5 md:flex-row;

    .m-headline {
      @apply my-3 flex w-full flex-row items-baseline justify-center space-x-2 md:hidden;

      h1 {
        font-size: 1.5 * @Ratio;
        @apply font-mxThin font-thin tracking-widest;
      }

      h2 {
        font-size: 0.85 * @Ratio;
        @apply font-mxBook;
      }
    }

    .image {
      width: min(600px, 50vw);

      @media only screen and (max-width: @SM) {
        & {
          width: 100%;
        }
      }

      .ctx {
        @apply w-full;

        .video {
          padding-bottom: 9/16 * 100%;
          @apply relative w-full bg-gray-500 bg-cover;

          video {
            @apply h-full w-full;
          }
        }

        .v0 {
          background-image: url('img/life/v0.jpg');
        }

        .v1 {
          background-image: url('img/life/v1.jpg');
        }

        .v2 {
          background-image: url('img/life/v2.jpg');
        }

        .v3 {
          background-image: url('img/life/v3.jpg');
        }
      }
    }

    .content {
      @apply flex flex-1 flex-col space-y-5 px-5;

      @media only screen and (max-width: @SM) {
        & {
          @apply px-2;
        }
      }

      .headline {
        @apply hidden w-full flex-col md:flex;

        h1 {
          @apply font-mxThin text-4xl font-thin tracking-widest;

          @media only screen and (max-width: @MD) {
            & {
              @apply text-3xl;
            }
          }
        }

        h2 {
          @apply font-mxBook text-lg;

          @media only screen and (max-width: @MD) {
            & {
              @apply text-base;
            }
          }
        }
      }

      .body {
        @apply flex w-full flex-col;

        p {
          @apply flex w-full flex-col font-mxLight text-sm font-light;

          @media only screen and (max-width: @MD) {
            & {
              @apply text-base;
            }
          }

          @media only screen and (max-width: @Mobile) {
            & {
              @apply t-base;
            }
          }
        }

        .ps {
          @apply w-full pt-5 font-mxLight text-xs font-light;

          @media only screen and (max-width: @Mobile) {
            & {
              @apply t-xxs;
            }
          }
        }
      }
    }
  }
}
